<!-- Toolbar -->
<mat-toolbar  layout="row" class="md-whiteframe-z3 tema_green_400" >

  <a routerLink=""><img width="40" title="Angular Logo" alt="Angular Logo" src="../assets/icons/icon-96x96.png" /></a>
  <span style="padding: 15px;">{{title}}</span>

  <span style="margin-left: 15px;"> | </span>

      <span style="margin-left: 15px; font-size: 14px;">
        <a routerLink="/resultados">Resultados</a></span>
      <span style="margin-left: 15px;  font-size: 14px;">
        <a routerLink="">Home</a></span>
    


</mat-toolbar>
<!-- /Toolbar -->

<router-outlet></router-outlet>