

  <h1>Home</h1>

  <div class="content" role="main">
    
  <mat-list>
    <mat-list-item role="list">
      <mat-icon matListIcon>work</mat-icon>
      <h3 matline>Tecnologias</h3>
    </mat-list-item>
    <p matLine style="margin-left: 5%;">Angular</p>
    <p matLine style="margin-left: 5%;">Typescript</p>
    <p matLine style="margin-left: 5%;">Node</p>
    <p matLine style="margin-left: 5%;">Java/spring como backend</p>
    <p matLine style="margin-left: 5%;">PWA - Progressive Web Apps</p>
    <p matLine style="margin-left: 5%;">VS Code como editor e ferramentas</p>
    <p matLine style="margin-left: 5%;">Git como versao/backups</p>
  </mat-list>

  <mat-list>
    <mat-list-item role="list">

      <mat-icon matListIcon>cloud_upload</mat-icon>
      <h3 matline>Firebase</h3>
    </mat-list-item>
    <p matLine style="margin-left: 5%;">Https</p>
    <p matLine style="margin-left: 5%;">Authentication</p>
    <p matLine style="margin-left: 5%;">Database</p>
    <p matLine style="margin-left: 5%;">Hosting</p>
    <p matLine style="margin-left: 5%;">Angular Material</p>

  </mat-list>
  <br>
  <br>



  <br>
  <span>Versão {{_versao}}</span>
  <br>
  <br>
  <br>
</div>
<router-outlet></router-outlet>